include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements

doctype html
html
  +head(head.home)
  body
    +header
    .header-info.has-bg
      .wrapper
        .inner.d-flex.justify-content-end.flex-column.text-center.flex-end
          h3 Chào mừng Huy,
          p Để bắt đầu với Finhay, hãy kiểm tra email và kích hoạt tài khoản.
    .main-content
      .wrapper.d-flex.justify-content-between
        .left
          .card-finhay.mxw-600
            .title-has-icon.d-flex.justify-content-between.align-items-center
              h4 BẮT ĐẦU
              .icon-card
                img.img-fluid(src="images/icon-error.png" alt="icon")
            p.lg Đầu tiên, hãy kiểm tra email của bạn để kích hoạt tài khoản. Email kích hoạt có thể xuất hiện trong thư mục Spam/Junk.
            footer.text-center
              a.btn.btn-sm-finhay.green.mw-230(href="#") Gửi lại email kích hoạt
        .right
          .card-finhay.sm.mxw-300
            .title
              h4 Bảo mật tài khoản
            .content
              .progress-wrapper.d-flex.justify-content-between.align-items-center
                .progress.w-100
                  .progress-bar.bg-success(
                    role='progressbar', 
                    style='width: 42.857%', 
                    aria-valuenow='3', 
                    aria-valuemin='0', 
                    aria-valuemax='7')
                .label
                  p 3/7
              button.control
                img(src="images/icon-edit.png", alt="icon")
                span Cập nhật thêm
          .card-finhay.sm.mxw-300
            .title
              h4 Tổng quan
            .detail-list-wrapper
              dl.row.detail-list
                dt.col-sm-6 Đã đầu tư:
                dd.col-sm-6.text-right 3.500.000 
                  span.currency đ
                dt.col-sm-6 Đã rút:
                dd.col-sm-6.text-right 3.500.000 
                  span.currency đ
                dt.col-sm-6 Kết quả hoạt động:
                dd.col-sm-6.text-right +56.951 
                  span.currency đ
                  | / +1,41%

    +footer
  script(type='text/javascript', src='js/main.js')
