include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements

doctype html
html
  +head(head.home)
  body
    +header
    .header-info.no-invest
      .wrapper.h-100
        .inner.h-100.d-flex.flex-column.justify-content-between.text-center
          .total-invest
            p.text-top Giá trị tài sản
            p 
              span.money 0
              span.currency đ 
          .promotion
            p Đầu tư ngay hôm nay để tối ưu tiềm năng tài chính của bạn!
          footer
            p Chưa có giá trị để hiển thị biểu đồ
            .chart-wrapper
              .chart-wrapper-inner
                
              .form-group.mb-0
                select.form-control
                  option 30 ngày gần đây
                  option 1 tháng
                  option 3 tháng
                  option 6 tháng
                  option 12 tháng 
                  option Tất cả
    .main-content
      .wrapper.d-flex.justify-content-between
        .left
          .card-finhay.mxw-600
            .title-color.d-flex.justify-content-between.align-items-center
              h4 Đầu tư nhanh
            form.quick-invest
              input.form-control-finhay(type="text", placeholder="Nhập số tiền muốn đầu tư")
              .quick-choose
                button +50.000
                button +100.000
                button +200.000
                button +500.000
                button +1.000.000
            footer.text-center
              a.btn.btn-sm-finhay.green.d-block(href="#") Đầu tư thêm
        .right
          .card-finhay.sm.mxw-300
            .title
              h4 Bảo mật tài khoản
            .content
              .progress-wrapper.d-flex.justify-content-between.align-items-center
                .progress.w-100
                  .progress-bar.bg-success(
                    role='progressbar', 
                    style='width: 42.857%', 
                    aria-valuenow='3', 
                    aria-valuemin='0', 
                    aria-valuemax='7')
                .label
                  p 3/7
              button.control
                img(src="images/icon-edit.png", alt="icon")
                span Cập nhật thêm
          .card-finhay.sm.mxw-300
            .title
              h4 Tổng quan
            .detail-list-wrapper
              dl.row.detail-list
                dt.col-sm-6 Đã đầu tư:
                dd.col-sm-6.text-right 3.500.000 
                  span.currency đ
                dt.col-sm-6 Đã rút:
                dd.col-sm-6.text-right 3.500.000 
                  span.currency đ
                dt.col-sm-6 Kết quả hoạt động:
                dd.col-sm-6.text-right +56.951 
                  span.currency đ
                  | / +1,41%

    +footer
  +script
  script(type='text/javascript', src='js/main.js')
