include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements

doctype html
html
  +head(head.home)
  body.light(style="background: black")
    nav.navigation
      #menuzord.menuzord.justify-content-between.align-items-center
        a.menuzord-brand(href='javascript:void(0)')
          img(src="http://via.placeholder.com/121x47", alt='logo')
        ul.menuzord-menu.menuzord-right.menuzord-indented.scrollable
          li
            a(href='#') HOME
          li
            a(href='#') DIRECTOR
          li
            a(href='#') FILMS
          li
            a(href='#') GALLERY
          li
            a(href='#') PAGES
          li
            a(href='#') BLOG
          li
            a(href='#') CONTACT
    nav.navigation.mt-3
      #menuzord.menuzord.justify-content-between.align-items-center
        a.menuzord-brand(href='javascript:void(0)')
          img(src="http://via.placeholder.com/121x47", alt='logo')
        ul.menuzord-menu
          li
            a(href='#') HOME
          li
            a(href='#') DIRECTOR
          li
            a(href='#') FILMS
          li
            a(href='#') GALLERY
          li
            a(href='#') PAGES
          li
            a(href='#') BLOG
          li
            a(href='#') CONTACT
        .menuzord-form
          form.form-inline
            .input-group
              input.form-control(type='text')
              button.input-group-addon 
                i.icon.ion-ios-search
    nav.navigation.mt-3
      #menuzord.menuzord.justify-content-center.align-items-center
        ul.menuzord-menu
          li
            a(href='#') HOME
          li
            a(href='#') DIRECTOR
          li
            a(href='#') FILMS
          li
            a(href='#') GALLERY
        a.menuzord-brand(href='javascript:void(0)')
          img(src="http://via.placeholder.com/121x47", alt='logo')
        ul.menuzord-menu
          li
            a(href='#') PAGES
          li
            a(href='#') BLOG
          li
            a(href='#') CONTACT
    nav.navigation.mt-3
      .top-header
        .container
          .row
            .widget-social-list
              ul.list-unstyled
                li.d-inline-block
                  a(href='#')
                    i.icon.ion-social-facebook
                li.d-inline-block
                  a(href='#')
                    i.icon.ion-social-twitter
                li.d-inline-block
                  a(href='#')
                    i.icon.ion-social-youtube
                li.d-inline-block
                  a(href='#')
                    i.icon.ion-social-vimeo                                                  
      #menuzord.menuzord.justify-content-center.align-items-center
        ul.menuzord-menu
          li
            a(href='#') HOME
          li
            a(href='#') DIRECTOR
          li
            a(href='#') FILMS
          li
            a(href='#') GALLERY
        a.menuzord-brand(href='javascript:void(0)')
          img(src="http://via.placeholder.com/121x47", alt='logo')
        ul.menuzord-menu
          li
            a(href='#') PAGES
          li
            a(href='#') BLOG
          li
            a(href='#') CONTACT
    section#revo-slider
      img(src='images/slider-01.jpg', alt='demo', style=('width: 100vw; height: 100vh'))
    section#call-to-action
    section#services
      .services-wrapper
        .container
          .row
            .col.title-section-wrapper.text-center
                h3.title Our Services
                h6.sub-title LET'S MAKE GREAT THINGS TOGETHER
          .card-deck.deck-icon-box-1.mt-5
            .card.icon-box-style-1
              .card-body.text-center
                .icon-bg.rounded-circle.mx-auto.mb-4
                  img(src='images/icon-cinema-1.png', alt='Icon')
                h4.title.mb-4 Film Production
                p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit amet erat. Ut dictum nisi masvitp
                a(href='#').read-more-1
                  i.icon.ion-android-add
                  | Read more
            .card.icon-box-style-1
              .card-body.text-center
                .icon-bg.rounded-circle.mx-auto.mb-4
                  img(src='images/icon-cinema-2.png', alt='Icon')
                h4.title.mb-4 Creative Direction
                p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit amet erat. Ut dictum nisi masvitp
                a(href='#').read-more-1
                  i.icon.ion-android-add
                  | Read more
            .card.icon-box-style-1
              .card-body.text-center
                .icon-bg.rounded-circle.mx-auto.mb-4
                  img(src='images/icon-cinema-3.png', alt='Icon')
                h4.title.mb-4 Visual Effects
                p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit amet erat. Ut dictum nisi masvitp
                a(href='#').read-more-1
                  i.icon.ion-android-add
                  | Read more
    section#portfolio
      .container-fluid.boxed-fluid
        .row
          .col.title-section-wrapper.text-center
            h3.title Our Works
            h6.sub-title WE WILL DEVELOP YOUR FILM, YOUR TALENT
        .row.gutters-10.mt-5
          .col-lg-4.col-sm-6.card.portfolio.text-center
            .card-header(style='background-image: url("images/portfolio-01.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-01.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
          .col-lg-4.col-sm-6.card.portfolio
            .card-header(style='background-image: url("images/portfolio-02.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-02.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
          .col-lg-4.col-sm-6.card.portfolio.text-center
            .card-header(style='background-image: url("images/portfolio-03.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-03.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
          .col-lg-4.col-sm-6.card.portfolio.text-center
            .card-header(style='background-image: url("images/portfolio-04.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-04.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
          .col-lg-4.col-sm-6.card.portfolio
            .card-header(style='background-image: url("images/portfolio-05.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-05.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
          .col-lg-4.col-sm-6.card.portfolio.text-center
            .card-header(style='background-image: url("images/portfolio-06.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-06.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
        .row
          .col.text-center
            a(href='#').btn.btn-circle-secondary View More
            a(href='#').btn.btn-circle-main Hire us Now
    section#team
      .container
          .row
            .col.title-section-wrapper.text-center
              h3.title Creative team
              h6.sub-title LET'S MAKE GREAT THINGS TOGETHER
          .row.gutters-10
            .col-md-6.col-sm-12
              .card.card-overlay
                .card-header.h-100.justify-content-center.d-flex.flex-column
                  h4 We are the best team!
                  p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, idae gravida mi purus sit amet erat. Ut dictum nisi massa, vitae pulvinar metus scelerisque in. 
                  p Ut dictum nisi massa, vitae pulvinar metus scelerisque in. 
            .col-md-3.col-sm-3
              .card.card-overlay
                .card-header.p-0
                  img(src='images/team-01.jpg', alt='Team Images').feature-img
                  .overlay.main-color.justify-content-center.align-items-center.d-flex.flex-column
                    h4 IRA BANANA
                    p Photography
            .col-md-3.col-sm-3
              .card.card-overlay
                .card-header.p-0
                  img(src='images/team-02.jpg', alt='Team Images').feature-img
                  .overlay.main-color.justify-content-center.align-items-center.d-flex.flex-column
                    h4 IRA BANANA
                    p Photography
            .col-md-3.col-sm-3
              .card.card-overlay
                .card-header.p-0
                  img(src='images/team-03.jpg', alt='Team Images').feature-img
                  .overlay.main-color.justify-content-center.align-items-center.d-flex.flex-column
                    h4 IRA BANANA
                    p Photography
            .col-md-3.col-sm-3
              .card.card-overlay
                .card-header.p-0
                  img(src='images/team-04.jpg', alt='Team Images').feature-img
                  .overlay.main-color.justify-content-center.align-items-center.d-flex.flex-column
                    h4 IRA BANANA
                    p Photography
            .col-md-3.col-sm-12
              .card.card-overlay
                .card-header.p-0
                  img(src='images/team-05.jpg', alt='Team Images').feature-img
                  .overlay.main-color.justify-content-center.align-items-center.d-flex.flex-column
                    h4 IRA BANANA
                    p Photography
            .col-md-3.col-sm-12
              .card.card-overlay
                .card-header.p-0
                  a(href='#').overlay.secondary-color.overlay-view-more-square.justify-content-center.align-items-center.d-flex.flex-column
                    i.icon.ion-ios-plus-empty
                    h5.mt-3 VIEW MORE
    section#awards.swatch-dark.p-3
      .container
        .row.d-block
          .js-carousel.carousel-awards.js-awards-carousel-main(
            data-carousel-lg="1", 
            data-carousel-fade="true",
            data-carousel-autoplay="true",
            data-carousel-drag="true",
            data-carousel-swipe="true",
            data-carousel-swipe-to="true",
            data-carousel-loop="true",
            data-carousel-thumb=".js-awards-carousel-sub"
            )
            .item-award.text-center
              h3 Heading Title 1
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            .item-award.text-center
              h3 Heading Title 2
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            .item-award.text-center
              h3 Heading Title 3
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            .item-award.text-center
              h3 Heading Title 4
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            .item-award.text-center
              h3 Heading Title 5
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo. 
          .js-carousel.carousel-awards.js-awards-carousel-sub(
              data-carousel-lg="3", 
              data-carousel-md="3", 
              data-carousel-xs="3", 
              data-carousel-autoplay="true",
              data-carousel-drag="true",
              data-carousel-swipe="true",
              data-carousel-swipe-to="true",
              data-carousel-loop="true",
              data-carousel-thumb=".js-awards-carousel-main",
              data-carousel-thumb-focus="true",
              data-carousel-center="true")
              img(src='images/logo-01.png', alt='Award Image') 
              img(src='images/logo-02.png', alt='Award Image') 
              img(src='images/logo-03.png', alt='Award Image') 
              img(src='images/logo-04.png', alt='Award Image') 
              img(src='images/logo-05.png', alt='Award Image') 
    section#testimonials
      .container
        .row.d-block
          .js-carousel.carousel-testimonials.js-testimonials-carousel-main(
            data-carousel-lg="1", 
            data-carousel-fade="true",
            data-carousel-autoplay="true",
            data-carousel-drag="true",
            data-carousel-swipe="true",
            data-carousel-swipe-to="true",
            data-carousel-arrow="true",
            data-carousel-loop="true",
            data-carousel-thumb=".js-testimonials-carousel-sub"
            )
            .item-award.text-center
              h5 
                span.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                span sed do eiusmod 
                span.text-muted tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco 
                span laboris nisi ut aliquip 
                span.text-muted ex ea commodo.
            .item-award.text-center
              h5 
                span.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                span sed do eiusmod 
                span.text-muted tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco 
                span laboris nisi ut aliquip 
                span.text-muted ex ea commodo.
            .item-award.text-center
              h5 
                span.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                span sed do eiusmod 
                span.text-muted tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco 
                span laboris nisi ut aliquip 
                span.text-muted ex ea commodo.
            .item-award.text-center
              h5 
                span.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                span sed do eiusmod 
                span.text-muted tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco 
                span laboris nisi ut aliquip 
                span.text-muted ex ea commodo.
            .item-award.text-center
              h5 
                span.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                span sed do eiusmod 
                span.text-muted tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco 
                span laboris nisi ut aliquip e
                span.text-muted x ea commodo. 
          .js-carousel.carousel-testimonials.js-testimonials-carousel-sub(
              data-carousel-lg="3", 
              data-carousel-md="3", 
              data-carousel-xs="3", 
              data-carousel-autoplay="true",
              data-carousel-drag="true",
              data-carousel-swipe="true",
              data-carousel-swipe-to="true",
              data-carousel-loop="true",
              data-carousel-thumb=".js-testimonials-carousel-main",
              data-carousel-thumb-focus="true",
              data-carousel-center="true"
              )
              img(src='images/testimonial-01.jpg', alt='Avatar Custommer Image') 
              img(src='images/testimonial-02.jpg', alt='Avatar Custommer Image') 
              img(src='images/testimonial-03.jpg', alt='Avatar Custommer Image') 
              img(src='images/testimonial-04.jpg', alt='Avatar Custommer Image') 
              img(src='images/testimonial-05.jpg', alt='Avatar Custommer Image') 
    section#branding
      .container
        .row.d-block
          .js-carousel.carousel-logo-branding(
            data-carousel-lg="5", 
            data-carousel-md="3", 
            data-carousel-xs="1", 
            data-carousel-autoplay="true",
            data-carousel-drag="true",
            data-carousel-swipe="true",
            data-carousel-swipe-to="true",
            data-carousel-loop="true")
            img(src='images/logo-06.png', alt='Logo Branding Image') 
            img(src='images/logo-07.png', alt='Logo Branding Image') 
            img(src='images/logo-08.png', alt='Logo Branding Image') 
            img(src='images/logo-09.png', alt='Logo Branding Image') 
            img(src='images/logo-010.png', alt='Logo Branding Image') 
            img(src='images/logo-011.png', alt='Logo Branding Image') 
    section#gallery
      .container-fluid.boxed-fluid
        .js-carousel.carousel-gallery-variable-width(
          data-carousel-lg="5", 
          data-carousel-md="3", 
          data-carousel-xs="1", 
          data-carousel-autoplay="true",
          data-carousel-drag="true",
          data-carousel-swipe="true",
          data-carousel-swipe-to="true",
          data-carousel-loop="true",
          data-carousel-variable-width="true",
          data-carousel-arrow="true",
          )
          img(src='images/gallery-01.jpg', alt='Galler Image') 
          img(src='images/gallery-02.jpg', alt='Galler Image') 
          img(src='images/gallery-03.jpg', alt='Galler Image') 
          img(src='images/gallery-04.jpg', alt='Galler Image') 
          img(src='images/gallery-01.jpg', alt='Galler Image') 
          img(src='images/gallery-02.jpg', alt='Galler Image') 
    section#blog
      .container
        .row
          .col.title-section-wrapper.text-center
              h3.title Blog Update
              h6.sub-title LET'S MAKE GREAT THINGS TOGETHER
      .container
        .row
          .col-md-4.col-sm-4
            .card.blog.post-sigle-image.h-100
              .card-header
                img(src='images/blog-04.jpg', alt='Feature Image').feature-img
                a(href='#').overlay
                  p.meta.text-center
                    span
                      i.icon.ion-ios-calendar-outline.mr-2
                      | 11/09/2017
                    span
                      i.icon.ion-chatbubble-working.mr-2
                      | 3
              .card-body.text-center
                p.h6.mb-3
                  a(href='#').cate.font-italic MUSIC VIDEO
                h3.title.title-blog.sm
                  a(href='#') Single Feature Image Post Type
          .col-md-4.col-sm-4
            .card.blog.post-sigle-image.h-100
              .card-header
                img(src='images/blog-05.jpg', alt='Feature Image').feature-img
                a(href='#').overlay
                  p.meta.text-center
                    span
                      i.icon.ion-ios-calendar-outline.mr-2
                      | 11/09/2017
                    span
                      i.icon.ion-chatbubble-working.mr-2
                      | 3
              .card-body.text-center
                p.h6.mb-3
                  a(href='#').cate.font-italic MUSIC VIDEO
                h3.title.title-blog.sm
                  a(href='#') Single Feature Image Post Type
          .col-md-4.col-sm-4
            .card.blog.post-sigle-image.h-100
              .card-header
                img(src='images/blog-06.jpg', alt='Feature Image').feature-img
                a(href='#').overlay
                  p.meta.text-center
                    span
                      i.icon.ion-ios-calendar-outline.mr-2
                      | 11/09/2017
                    span
                      i.icon.ion-chatbubble-working.mr-2
                      | 3
              .card-body.text-center
                p.h6.mb-3
                  a(href='#').cate.font-italic MUSIC VIDEO
                h3.title.title-blog.sm
                  a(href='#') Single Feature Image Post Type Single Feature Image Post Type Single Feature Image Post Type
        .row
          .col.text-center
            a(href='#').btn.btn-circle-secondary Go To Blog
    section#subscribe
      .container
        .row
          .col.text-center
            img(src='http://via.placeholder.com/300x100', alt="Logo Image")
            h6.sub-title SUBCRIBE TO OUR NEWSLETTER
        .row.justify-content-center
          form.form-inline
            .form-group
              label.sr-only(for='staticEmail2') Email
              input.form-control(type='text', placeholder='email@example.com')
            button.btn.btn-main-color(type='submit') Subcribe
    +footer
  script(type='text/javascript', src='js/main.js')
