include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/elements/elements

doctype html
html
  +head(head.home)
  body
    header#js-headroom.fixed.header.header-home-1.transparent.dark
      nav.navigation.transparent
        #menuzord.menuzord.justify-content-between.align-items-center
          a.menuzord-brand(href='javascript:void(0)')
            img(src="images/logo-light-03.png", alt='logo')
          ul.menuzord-menu.menuzord-right.menuzord-indented.scrollable
            li
              a(href='#') HOME
            li
              a(href='#') DIRECTOR
            li
              a(href='#') FILMS
            li
              a(href='#') GALLERY
            li
              a(href='#') PAGES
            li
              a(href='#') BLOG
            li
              a(href='#') CONTACT
            li.widget-search-header
              button.btn-open-search-form.js-open-search-form-header
                i.icon.ion-ios-search
              .form-outer
                button.btn-close-form-search-header.js-close-search-form-header
                  i.icon.ion-ios-close-empty
                form
                  input.form-control(placeholder='Search')
                  button.search
                    i.icon.ion-ios-search
    section#revo-slider
      #slider_home-1.rev_slider.slider-home-1
        ul
          li(data-title='FOCUS ON')
            img.rev-slidebg(
              src='images/slider-01.jpg', 
              alt='Slider Image',
              data-bgposition='center center', 
              data-bgfit='cover'
            )
            .tp-caption.caption-1(
              data-x='left', 
              data-hoffset="['15','15','15','15']", 
              data-y='center', 
              data-voffset="['-30','30','-50','-50']", 
              data-width="['auto','auto','480','320']", 
              data-transform_idle='o:1;', 
              data-whitespace="['nowrap','nowrap','nowrap','normal']", 
              data-fontsize="['16','16','16','16']"
              data-transform_in='y:-100px;opacity:0;s:1500;e:Power3.easeOut;', data-transform_out='y:-100;opacity:0;s:1000;e:Power3.easeInOut;', data-start='1000'
            )
              p IN FILM WE TRUST
            .tp-caption.caption-2(
              data-x='left', 
              data-hoffset="['15','15','15','15']",
              data-y='center', 
              data-voffset="['125','125','20','0']", 
              data-width="['776','500','320','320']", 
              data-transform_idle='o:1;', 
              data-transform_in='y:100px;opacity:0;s:1500;e:Power3.easeOut;', data-transform_out='y:100px;opacity:0;s:1000;e:Power3.easeInOut;', data-start='1300', 
              data-whitespace="['normal','normal','normal','normal']", 
              data-fontsize="['100','60','40','30']", 
              data-lineheight="['120','70','50','40']"
            )
              p Stories can inspire change!
            .tp-caption(
              data-x='left', 
              data-hoffset="['15','15','15','15']", 
              data-y='bottom', 
              data-voffset="['-140','-140','70','-5']", 
              data-transform_idle='o:1;', 
              data-transform_in='y:100px;opacity:0;s:1500;e:Power3.easeOut;', data-transform_out='y:100px;opacity:0;s:1000;e:Power3.easeInOut;',data-start='1700'
            )
              a.btn.btn-circle-main.mw-160(href='#') Hire Us Now
    section#feature.feature-home-1.py-lg-100.pb-0
      .container
        .row
          .col-md-6.align-items-center.d-flex
            .pr-5
              h2.title.mb-4 Let’s make great things together!
              p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit amet erat. Ut dictum nisi massa, vitae pulvinar metus scelerisque in.
              p.mb-4 Gravida mi purus sit amet erat. Ut dictum nisi massa, vitae pulvinar metus scelerisque in. 
              a(href='#').btn.btn-circle-main.mw-160 Hire Us Now
          .col-md-6
            .box-feature-image
              img.img-1(src="images/feature-01.jpg", alt='feature-image')
              img.img-2(src="images/feature-02.jpg", alt='feature-image')
              .creative-text-box
                p CIRCLE
                span studio
    section#services.py-lg-100
      .container
        .row
          .col.title-wrapper.text-center
              h3.title Our Services
              h6.sub-title LET'S MAKE GREAT THINGS TOGETHER
        .row.deck-icon-box-1.mt-5
          .col-md-4
            .card.icon-box-style-1.border-0
              .card-body.text-center
                .icon-bg.rounded-circle.mx-auto.mb-4
                  img(src='images/icon-cinema-1.png', alt='Icon')
                h4.title.mb-4 Film Production
                p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit amet erat. Ut dictum nisi masvitp
                a(href='#').read-more-1
                  i.icon.ion-android-add
                  | Read more
          .col-md-4
            .card.icon-box-style-1.border-0
              .card-body.text-center
                .icon-bg.rounded-circle.mx-auto.mb-4
                  img(src='images/icon-cinema-2.png', alt='Icon')
                h4.title.mb-4 Creative Direction
                p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit amet erat. Ut dictum nisi masvitp
                a(href='#').read-more-1
                  i.icon.ion-android-add
                  | Read more
          .col-md-4
            .card.icon-box-style-1.border-0
              .card-body.text-center
                .icon-bg.rounded-circle.mx-auto.mb-4
                  img(src='images/icon-cinema-3.png', alt='Icon')
                h4.title.mb-4 Visual Effects
                p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, id gravida mi purus sit amet erat. Ut dictum nisi masvitp
                a(href='#').read-more-1
                  i.icon.ion-android-add
                  | Read more
    section#portfolio.bg-light-gray.py-lg-100
      .boxed-fluid
        .row
          .col.title-wrapper.text-center
            h3.title Our Works
            h6.sub-title WE WILL DEVELOP YOUR FILM, YOUR TALENT
        .row.gutters-10.mt-5.portfolio-home-1
          .col-lg-4.col-sm-6.card.portfolio.text-center
            .card-header(style='background-image: url("images/portfolio-01.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-01.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
          .col-lg-4.col-sm-6.card.portfolio.text-center
            .card-header(style='background-image: url("images/portfolio-02.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-02.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
          .col-lg-4.col-sm-6.card.portfolio.text-center
            .card-header(style='background-image: url("images/portfolio-03.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-03.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
          .col-lg-4.col-sm-6.card.portfolio.text-center
            .card-header(style='background-image: url("images/portfolio-04.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-04.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
          .col-lg-4.col-sm-6.card.portfolio.text-center
            .card-header(style='background-image: url("images/portfolio-05.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-05.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
          .col-lg-4.col-sm-6.card.portfolio.text-center
            .card-header(style='background-image: url("images/portfolio-06.jpg");')
              .card-header-inner
                img.feature-img.hidden(src='images/portfolio-06.jpg')
                .info
                  h3.title.title-blog.sm.mb-3
                    a(href='#') Portfolio Video Light Box
                  p.h6.mb-3
                    a.cate.font-italic(href='#') MUSIC VIDEO
                .overlay.justify-content-center.align-items-center.d-flex.js-open-lightbox.open-lightbox
                  p.btn-play.sm.white
                .js-lightbox.hidden
                  a(href='https://www.youtube.com/watch?v=meBbDqAXago')
        .row.section-footer
          .col.text-center
            a(href='#').btn.btn-circle-secondary.mw-160 View More
            a(href='#').btn.btn-circle-main.mw-160 Hire us Now
    section#team.py-lg-100
      .container
          .row
            .col.title-wrapper.text-center
              h3.title Creative team
              h6.sub-title LET'S MAKE GREAT THINGS TOGETHER
          .row.gutters-10.team-home-1
            .col-lg-6.col-12-12.card.card-overlay.border-0
              .card-header.h-100.justify-content-center.d-flex.flex-column.border.bg-white
                h4.title We are the best team!
                p Nullam imperdiet, sem at fringilla lobortis, sem nibh fringilla nibh, idae gravida mi purus sit amet erat. Ut dictum nisi massa, vitae pulvinar metus scelerisque in. 
                p Ut dictum nisi massa, vitae pulvinar metus scelerisque in. 
            .col-lg-3.col-md-4.card.card-overlay.border-0
              .card-header.p-0
                img(src='images/team-01.jpg', alt='Team Images').feature-img
                .overlay.main-color.justify-content-center.align-items-center.d-flex.flex-column
                  h4 IRA BANANA
                  p Photography
            .col-lg-3.col-md-4.card.card-overlay.border-0
              .card-header.p-0
                img(src='images/team-02.jpg', alt='Team Images').feature-img
                .overlay.main-color.justify-content-center.align-items-center.d-flex.flex-column
                  h4 IRA BANANA
                  p Photography
            .col-lg-3.col-md-4.card.card-overlay.border-0
              .card-header.p-0
                img(src='images/team-03.jpg', alt='Team Images').feature-img
                .overlay.main-color.justify-content-center.align-items-center.d-flex.flex-column
                  h4 IRA BANANA
                  p Photography
            .col-lg-3.col-md-4.card.card-overlay.border-0
              .card-header.p-0
                img(src='images/team-04.jpg', alt='Team Images').feature-img
                .overlay.main-color.justify-content-center.align-items-center.d-flex.flex-column
                  h4 IRA BANANA
                  p Photography
            .col-lg-3.col-md-4.card.card-overlay.border-0
              .card-header.p-0
                img(src='images/team-05.jpg', alt='Team Images').feature-img
                .overlay.main-color.justify-content-center.align-items-center.d-flex.flex-column
                  h4 IRA BANANA
                  p Photography
            .col-lg-3.col-md-4.card.card-overlay.border-0
              .card-header.p-0.h-100
                a(href='#').overlay.secondary-color.overlay-view-more-square.justify-content-center.align-items-center.d-flex.flex-column
                  i.icon.ion-ios-plus-empty
                  h5.mt-3 VIEW MORE
    section#awards.dark.py-lg-100.bg-overlay(style="background-image: url('images/bg-overlay-01.jpg')")
      .container
        .row
          .col.text-center.title-wrapper
            h3.title Winning Awards
        .row.d-block
          .js-carousel.carousel-awards.js-awards-carousel-main.mb-5.mt-3(
            data-carousel-lg="1",
            data-carousel-md="1",
            data-carousel-sm="1",
            data-carousel-xs="1", 
            data-carousel-fade="true",
            data-carousel-autoplay="true",
            data-carousel-drag="true",
            data-carousel-swipe="true",
            data-carousel-swipe-to="true",
            data-carousel-loop="true",
            data-carousel-thumb=".js-awards-carousel-sub"
            )
            .item-award
              p.text-hightlight.font-italic.small.text-center
                span CIRCLE 
                | IS AN AWARD WINNING CREATIVE PRODUCTION COMPANY WORKING FOR VARIOUS CLIENTS AND AGENCIES IN BOTH NEW YORK AND LA
            .item-award
              p.text-hightlight.font-italic.small.text-center
                span CIRCLE 
                | IS AN AWARD WINNING CREATIVE PRODUCTION COMPANY WORKING FOR VARIOUS CLIENTS AND AGENCIES IN BOTH NEW YORK AND LA
            .item-award
              p.text-hightlight.font-italic.small.text-center
                span CIRCLE 
                | IS AN AWARD WINNING CREATIVE PRODUCTION COMPANY WORKING FOR VARIOUS CLIENTS AND AGENCIES IN BOTH NEW YORK AND LA
            .item-award
              p.text-hightlight.font-italic.small.text-center
                span CIRCLE 
                | IS AN AWARD WINNING CREATIVE PRODUCTION COMPANY WORKING FOR VARIOUS CLIENTS AND AGENCIES IN BOTH NEW YORK AND LA
            .item-award
              p.text-hightlight.font-italic.small.text-center
                span CIRCLE 
                | IS AN AWARD WINNING CREATIVE PRODUCTION COMPANY WORKING FOR VARIOUS CLIENTS AND AGENCIES IN BOTH NEW YORK AND LA
            .item-award
              p.text-hightlight.font-italic.small.text-center
                span CIRCLE 
                | IS AN AWARD WINNING CREATIVE PRODUCTION COMPANY WORKING FOR VARIOUS CLIENTS AND AGENCIES IN BOTH NEW YORK AND LA
            .item-award
              p.text-hightlight.font-italic.small.text-center
                span CIRCLE 
                | IS AN AWARD WINNING CREATIVE PRODUCTION COMPANY WORKING FOR VARIOUS CLIENTS AND AGENCIES IN BOTH NEW YORK AND LA
          .js-carousel.carousel-awards-logo.js-awards-carousel-sub.mt-lg-5.d-inline-block.w-100(
            data-carousel-lg="5", 
            data-carousel-md="3", 
            data-carousel-xs="3", 
            data-carousel-autoplay="true",
            data-carousel-drag="true",
            data-carousel-swipe="true",
            data-carousel-swipe-to="true",
            data-carousel-loop="true",
            data-carousel-thumb=".js-awards-carousel-main",
            data-carousel-thumb-focus="true",
            data-carousel-center="true")
            .item-award-logo
              img(src='images/logo-01.png', alt='Award Image') 
            .item-award-logo
              img(src='images/logo-02.png', alt='Award Image') 
            .item-award-logo
              img(src='images/logo-03.png', alt='Award Image') 
            .item-award-logo
              img(src='images/logo-04.png', alt='Award Image') 
            .item-award-logo
              img(src='images/logo-05.png', alt='Award Image') 
            .item-award-logo
              img(src='images/logo-02.png', alt='Award Image') 
            .item-award-logo
              img(src='images/logo-03.png', alt='Award Image') 
    section#testimonials.py-lg-100
      .container
        .row
          .col.title-wrapper.text-center
            p.symbol “
        .row.d-block.pt-5
          .js-carousel.carousel-testimonials.testimonial-home-1.js-testimonials-carousel-main.mb-3(
            data-carousel-lg="1", 
            data-carousel-md="1",
            data-carousel-sm="1",
            data-carousel-xs="1",
            data-carousel-fade="true",
            data-carousel-autoplay="true",
            data-carousel-drag="true",
            data-carousel-swipe="true",
            data-carousel-swipe-to="true",
            data-carousel-arrow="true",
            data-carousel-loop="true",
            data-carousel-thumb=".js-testimonials-carousel-sub"
            )
            .item-testimonial.text-center
              p.text-hightlight.font-italic
                | I think it's important people 
                span see themselves in film, but it’s even more important they 
                span see people they maybe don’t know as well.
            .item-testimonial.text-center
              p.text-hightlight.font-italic
                | I think it's important people 
                span see themselves in film, but it’s even more important they 
                span see people they maybe don’t know as well.
            .item-testimonial.text-center
              p.text-hightlight.font-italic
                | I think it's important people 
                span see themselves in film, but it’s even more important they 
                span see people they maybe don’t know as well.
            .item-testimonial.text-center
              p.text-hightlight.font-italic
                | I think it's important people 
                span see themselves in film, but it’s even more important they 
                span see people they maybe don’t know as well.
            .item-testimonial.text-center
              p.text-hightlight.font-italic
                | I think it's important people 
                span see themselves in film, but it’s even more important they 
                span see people they maybe don’t know as well.
            .item-testimonial.text-center
              p.text-hightlight.font-italic
                | I think it's important people 
                span see themselves in film, but it’s even more important they 
                span see people they maybe don’t know as well.
          .js-carousel.carousel-testimonials-thumb.js-testimonials-carousel-sub.mt-5(
            data-carousel-lg="5", 
            data-carousel-md="3", 
            data-carousel-xs="1", 
            data-carousel-autoplay="true",
            data-carousel-drag="true",
            data-carousel-swipe="true",
            data-carousel-swipe-to="true",
            data-carousel-loop="true",
            data-carousel-thumb=".js-testimonials-carousel-main",
            data-carousel-thumb-focus="true",
            data-carousel-center="true",
            data-carousel-center-padding="0"
            )
            .item-testimonial-thumb
              img(src='images/testimonial-01.jpg', alt='Avatar Custommer Image')
              .testimonial-info.text-center
                h5 BRYAN FREEMAN
                span Partner / Director 
            .item-testimonial-thumb
              img(src='images/testimonial-02.jpg', alt='Avatar Custommer Image')
              .testimonial-info.text-center
                h5 BRYAN FREEMAN
                span Partner / Director 
            .item-testimonial-thumb
              img(src='images/testimonial-03.jpg', alt='Avatar Custommer Image')
              .testimonial-info.text-center
                h5 BRYAN FREEMAN
                span Partner / Director 
            .item-testimonial-thumb
              img(src='images/testimonial-04.jpg', alt='Avatar Custommer Image')
              .testimonial-info.text-center
                h5 BRYAN FREEMAN
                span Partner / Director 
            .item-testimonial-thumb
              img(src='images/testimonial-05.jpg', alt='Avatar Custommer Image')
              .testimonial-info.text-center
                h5 BRYAN FREEMAN
                span Partner / Director 
            .item-testimonial-thumb
              img(src='images/testimonial-02.jpg', alt='Avatar Custommer Image')
              .testimonial-info.text-center
                h5 BRYAN FREEMAN
                span Partner / Director 
            .item-testimonial-thumb
              img(src='images/testimonial-03.jpg', alt='Avatar Custommer Image')
              .testimonial-info.text-center
                h5 BRYAN FREEMAN
                span Partner / Director 
    section#branding.pb-5.mb-md-5
      .container
        .row.d-block
          .js-carousel.carousel-logo-branding(
            data-carousel-lg="6", 
            data-carousel-md="3", 
            data-carousel-xs="1", 
            data-carousel-autoplay="true",
            data-carousel-drag="false",
            data-carousel-swipe="false",
            data-carousel-swipe-to="false",
            data-carousel-loop="true",
            data-carousel-center="true",
            data-carousel-center-padding="0",
            )
            .item-branding-logo
              img(src='images/logo-06.png', alt='Logo Branding Image') 
            .item-branding-logo
              img(src='images/logo-07.png', alt='Logo Branding Image') 
            .item-branding-logo
              img(src='images/logo-08.png', alt='Logo Branding Image') 
            .item-branding-logo
              img(src='images/logo-09.png', alt='Logo Branding Image') 
            .item-branding-logo
              img(src='images/logo-010.png', alt='Logo Branding Image') 
            .item-branding-logo
              img(src='images/logo-011.png', alt='Logo Branding Image') 
            .item-branding-logo
              img(src='images/logo-06.png', alt='Logo Branding Image') 
            .item-branding-logo
              img(src='images/logo-07.png', alt='Logo Branding Image')
    section#gallery.pt-lg-100.relative.dark
      .overlay-gallery-home-1
      .container
        .row
          .col.title-wrapper.text-center
            h3.title Our Gallery
            h6.sub-title LET'S MAKE GREATE THINGS TOGETHER
      .boxed-fluid
        .row.gutters-10.d-block
          .js-carousel.carousel-gallery-variable-width.py-5(
            data-carousel-lg="5", 
            data-carousel-md="3", 
            data-carousel-xs="1", 
            data-carousel-autoplay="false",
            data-carousel-drag="true",
            data-carousel-swipe="true",
            data-carousel-swipe-to="true",
            data-carousel-loop="true",
            data-carousel-variable-width="true",
            data-carousel-arrow="true",
            data-carousel-center="true",
            data-carousel-center-padding="0",
            data-carousel-thumb-focus="true"
            )
            .item-gallery
              img(src='images/gallery-01.jpg', alt='Galler Image') 
            .item-gallery
              img(src='images/gallery-02.jpg', alt='Galler Image') 
            .item-gallery
              img(src='images/gallery-03.jpg', alt='Galler Image') 
            .item-gallery
              img(src='images/gallery-04.jpg', alt='Galler Image') 
            .item-gallery
              img(src='images/gallery-01.jpg', alt='Galler Image') 
            .item-gallery
              img(src='images/gallery-02.jpg', alt='Galler Image') 
    section#blog.pb-lg-100.relative
      .overlay-blog-home-1
      .container
        .row
          .col.title-wrapper.text-center
            h3.title Blog Update
        .row.justify-content-center
          .col-7.text-hightlight.font-italic.small.text-center.body-font.mt-3.mb-5
            span CIRCLE 
            | FILM STUDIO  IS COMMITTED TO BOTH PROVEN AND EMERGING FILMMAKERS WITH ASSISTANCE AT EVERY STAGE OF PRODUCTION 
      .container
        .row.gutters-10
          .col-md-4.col-sm-4
            .card.blog.post-sigle-image.h-100.border-0
              .card-header
                img(src='images/blog-04.jpg', alt='Feature Image').feature-img
                a(href='#').overlay
                  p.meta.text-center
                    span
                      i.icon.ion-ios-calendar-outline.mr-2
                      | 11/09/2017
                    span
                      i.icon.ion-chatbubble-working.mr-2
                      | 3
              .card-body.text-center
                p.h6.mb-3
                  a(href='#').cate.font-italic MUSIC VIDEO
                h3.title.title-blog.sm
                  a(href='#') Single Feature Image Post Type
          .col-md-4.col-sm-4
            .card.blog.post-sigle-image.h-100.border-0
              .card-header
                img(src='images/blog-05.jpg', alt='Feature Image').feature-img
                a(href='#').overlay
                  p.meta.text-center
                    span
                      i.icon.ion-ios-calendar-outline.mr-2
                      | 11/09/2017
                    span
                      i.icon.ion-chatbubble-working.mr-2
                      | 3
              .card-body.text-center
                p.h6.mb-3
                  a(href='#').cate.font-italic MUSIC VIDEO
                h3.title.title-blog.sm
                  a(href='#') Single Feature Image Post Type
          .col-md-4.col-sm-4
            .card.blog.post-sigle-image.h-100.border-0
              .card-header
                img(src='images/blog-06.jpg', alt='Feature Image').feature-img
                a(href='#').overlay
                  p.meta.text-center
                    span
                      i.icon.ion-ios-calendar-outline.mr-2
                      | 11/09/2017
                    span
                      i.icon.ion-chatbubble-working.mr-2
                      | 3
              .card-body.text-center
                p.h6.mb-3
                  a(href='#').cate.font-italic MUSIC VIDEO
                h3.title.title-blog.sm
                  a(href='#') Single Feature Image Post Type Single Feature Image Post Type Single Feature Image Post Type
        .row.section-footer
          .col.text-center
            a(href='#').btn.btn-circle-secondary.mw-160 Go To Blog
    section#subscribe.py-5.subcribe-home-1
      .container
        .row
          .col.text-center
            img.logo(src='images/logo-light-01.png', alt="Logo Image")
            h6.sub-title.mb-5.d-block SUBCRIBE TO OUR NEWSLETTER
        .row.justify-content-center
          .col-6
            form.form-inline.btn-in.w-100.d-flex
              .form-group.form-circle
                label.sr-only(for='staticEmail2') Email
                input.form-control(type='text', placeholder='Enter your email...')
              button.btn(type='submit') Subcribe
    +footer
    script(type='text/javascript', src='js/main.js')
    +revo
    script.
      var revapi;
      jQuery(document).ready(function() {
        revapi = jQuery("#slider_home-1").revolution({
          sliderType:"standard",
          sliderLayout:"fullscreen",
          delay:9000,
          navigation: {
            arrows:{enable:true}
          },
          gridwidth:1230,
          gridheight:720,
            responsiveLevels:[4096,1024,778,480],
            gridwidth:[1140,800,750,480],
            gridheight:[420,360,420,220]    
        });
      });
